@model IEnumerable<AllArticleViewModel>


<h1>@ViewBag.Title</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Article No.</th>
            <th scope="col">Name</th>
            <th scope="col">Client name</th>
            <th scope="col">Material</th>
            <th scope="col">Color model</th>
            <th scope="col">Design file</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model)
        {
            <tr>
                <td>@article.Name</td>
                <td>@article.ArticleNumber</td>
                <td>@article.ClientName</td>
                <td>
                    @article.Material
                    
                </td>
                <td>@article.ColorModel</td>
                <td> 
                    <p class="mb-1">@article.FileName</p>
                    <form asp-controller="Article" asp-action="Download" method="get">
                        <input name="articleId" type="hidden" value="@article.Id" />
                        <input name="fileName" type="hidden" value="@article.FileName" />
                        <button class="btn btn-success btn-sm" type="submit">Download</button>
                    </form>
                </td>
                @if (User.IsInRole(Admin) || User.IsInRole(Merchant))
                {
                    <td>
                        <form asp-controller="Article" asp-action="Edit" method="get">
                            <input name="id" type="hidden" value="@article.Id" />
                            <button class="btn btn-lg btn-warning" type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Article" asp-action="Delete" method="get">
                            <input name="id" type="hidden" value="@article.Id" />
                            <button class="btn btn-sm btn-danger" type="submit">Delete Article</button>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Order" asp-action="Create" method="get">
                            <input name="id" type="hidden" value="@article.Id" />
                            <button class="btn btn-sm btn-success" type="submit">Add new order</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

