@model MachineOrderViewModel

@using PrintingHouse.Infrastructure.Data.Entities.Enums;

@{
    TimeSpan currentTime = TimeSpan.FromHours(8d);
}

<div class="row d-flex justify-content-center mt-70 mb-70">

    <div class="col-md-6">

        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Machine schedule</h5>
                <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">


                    @foreach (var order in Model.Orders.Where(o => o.ExpectedPrintDate == DateTime.UtcNow.Date))
                    {

                        <div class="vertical-timeline-item vertical-timeline-element">
                            <div>
                                <span class="vertical-timeline-element-icon bounce-in">
                                    <i class="badge badge-dot badge-dot-xl badge-success"></i>
                                </span>
                                <div class="vertical-timeline-element-content bounce-in">
                                    <h4 class="timeline-title">@order.Id</h4>
                                    <h4 class="timeline-title">@order.ArticleName</h4>
                                    <p>
                                        @order.EndDate
                                        @order.EndDate

                                    </p>
                                    <span class="vertical-timeline-element-date">@currentTime</span>
                                </div>
                            </div>
                        </div>

                        currentTime += order.ExpectedPrintTime;
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <link rel="stylesheet" href="~/css/Machines.css" />
}




@*<div class="row">
    <div class="table-responsive col-sm-12">
        <h1>Orders for @Model.Name</h1>
        <table style="font-size:small" id="orders-table" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
            <thead style="font-size:x-small" class="table-dark">
                <tr>
                    <th class="order" data-field="No" scope="col">No.</th>
                    <th class ="order" data-field="CreatedOn" scope="col">Created on</th>
                    <th class="order" data-field="Status" scope="col">Status</th>
                    <th class="order" scope="col">Article No.</th>
                    <th class="order" scope="col">Article</th>
                    <th class="order" scope="col">Material</th>
                    <th class="order" scope="col">Width (m)</th>
                    <th class="order" scope="col">Client</th>
                    <th class="order" scope="col">Quantity</th>
                    <th class="order" scope="col">Embedded material (count)</th>
                    <th class="order" scope="col">Printed material (pieces or m)</th>
                    <th class="order" scope="col">Scrapped (%)</th>
                    <th class="order" scope="col">Deadline</th>
                    <th class="order" scope="col">Expected print date</th>
                    <th class="order" scope="col">Expected time needed</th>
                    <th class="order" scope="col">Color model</th>
                    <th class="order" scope="col">Comment</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Orders)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.OrderTime</td>
                        <td class="order-status">@order.Status</td>
                        <td>@order.ArticleNo</td>
                        <td>@order.ArticleName</td>
                        <td>@order.Material</td>
                        <td>@order.Width</td>
                        <td>@order.ClientName</td>
                        <td>@order.Quantity</td>
                        <td>@order.EmbeddedMaterialCount</td>
                        <td>@order.MaterialQuantity</td>
                        <td>@order.ScrappedMaterial %</td>
                        <td>@order.EndDate</td>
                        <td>@order.ExpectedPrintDate</td>
                        <td>@order.ExpectedPrintTime</td>
                        <td>@order.ColorModel</td>
                        <td>@order.Comment</td>
                        <td>
                            @if (User.IsInRole(Admin) || User.IsInRole(Merchant))
                            {
                                <form asp-controller="Order" asp-action="ChangeStatus" method="post">
                                    <input name="id" type="hidden" value="@order.Id" />
                                    <input name="status" type="hidden" value="@OrderStatus.InProgress" >
                                    <button class="btn btn-sm btn-success" title="Print" type="submit"><i class="fa-solid fa-play"></i></button>
                                </form>
                                <form asp-controller="Order" asp-action="ChangeStatus" method="post">
                                    <input name="id" type="hidden" value="@order.Id" />
                                    <input name="status" type="hidden" value="@OrderStatus.Completed">
                                    <button class="btn btn-sm btn-warning" title="Complete" type="submit"><i class="fa-solid fa-circle-stop"></i></button>
                                </form>
                                <form asp-controller="Order" asp-action="ChangeStatus" method="post">
                                    <input name="id" type="hidden" value="@order.Id" />
                                    <input name="status" type="hidden" value="@OrderStatus.Canceled">
                                    <button class="btn btn-sm btn-danger" title="Cancel" type="submit"><i class="fa-solid fa-ban"></i></button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<script>
    var allTableCells = document.getElementsByClassName("order-status");

    for (var i = 0, max = allTableCells.length; i < max; i++) {
        var node = allTableCells[i];

        //get the text from the first child node - which should be a text node
        var currentText = node.childNodes[0].nodeValue;

        //check for 'one' and assign this table cell's background color accordingly
        if (currentText === "Canceled"){
            node.style.color = "red";
            node.style.fontWeight = "bold";
        }           
        else if (currentText === "InProgress"){
            node.style.color = "blue";
            node.style.fontWeight = "bold";
        }
        else if (currentText === "Completed"){
            node.style.color = "green";
            node.style.fontWeight = "bold";
        }
        else if (currentText === "Waiting"){
            node.style.color = "orange";
            node.style.fontWeight = "bold";
            
        }
    }    
</script>

<script>
    function table_sort() {
        const styleSheet = document.createElement('style')
        styleSheet.innerHTML = `
            .order-inactive span {
                visibility:hidden;
            }
            .order-inactive:hover span {
                visibility:visible;
            }
            .order-active span {
                visibility: visible;
            }

            th.order{
                cursor: pointer
            }
        `
        document.head.appendChild(styleSheet)

        document.querySelectorAll('th.order').forEach(th_elem => {
            let asc = true
            const span_elem = document.createElement('span')
            span_elem.style = "font-size:0.8rem; margin-left:0.5rem"
            span_elem.innerHTML = "▼"
            th_elem.appendChild(span_elem)
            th_elem.classList.add('order-inactive')

            const index = Array.from(th_elem.parentNode.children).indexOf(th_elem)
            th_elem.addEventListener('click', (e) => {
                document.querySelectorAll('th.order').forEach(elem => {
                    elem.classList.remove('order-active')
                    elem.classList.add('order-inactive')
                })
                th_elem.classList.remove('order-inactive')
                th_elem.classList.add('order-active')

                if (!asc) {
                    th_elem.querySelector('span').innerHTML = '▲'
                } else {
                    th_elem.querySelector('span').innerHTML = '▼'
                }
                const arr = Array.from(th_elem.closest("table").querySelectorAll('tbody tr'))
                arr.sort((a, b) => {
                    const a_val = a.children[index].innerText
                    const b_val = b.children[index].innerText
                    return (asc) ? a_val.localeCompare(b_val) : b_val.localeCompare(a_val)
                })
                arr.forEach(elem => {
                    th_elem.closest("table").querySelector("tbody").appendChild(elem)
                })
                asc = !asc
            })
        })
    }

    table_sort()
</script>*@