@model IEnumerable<AllEmployeeViewModel>
@{
    ViewBag.Title = "All employees";
}

<h1>@ViewBag.Title</h1>
<div class="form-group col-md-3">
    <input id="entry" class="form-control" placeholder="--Employee name--" type="text" onkeyup="quickSearch(this)">
</div>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">Employee number</th>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Phone number</th>            
            <th scope="col">Change position</th>
            <th scope="col">Dismiss</th>
        </tr>
    </thead>
    <tbody id="quick-find-employee">
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.EmployeeNumber</td>
                <td>@employee.FullName</td>
                <td>@employee.Position</td>
                <td>@employee.PhoneNumber</td>
                <td>
                    <form asp-asp-area="Admin" asp-controller="Employee" asp-action="Edit" method="get">
                        <input name="id" type="hidden" value="@employee.EmployeeNumber" />
                        <input name="userId" type="hidden" value="@employee.Id" />
                        <button class="btn btn-warning" type="submit">Reassign</button>
                    </form>
                </td>
                <td>
                    <form asp-asp-area="Admin" asp-controller="Employee" asp-action="Delete">
                        <input name="id" type="hidden" value="@employee.EmployeeNumber" />
                        <button class="btn btn-danger" type="submit">Dismiss</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>

<a asp-asp-area="Admin" asp-controller="Employee" asp-action="Add" class="btn btn-dark">Add new employee</a>

@section Scripts
    {
    <script type="text/javascript">
        function quickSearch(input) {
            var input, filter, table, tr, td, i;
            filter = input.value.toUpperCase();
            table = document.getElementById("quick-find-employee");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
}