@model EditEmployeeViewModel;
@{
    ViewData["Title"] = "Change employee position";
}

<div class="row col-md-4 offset-md-4">
    <h1 class="mb-4">@ViewData["Title"]</h1>
    <section>
        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <p>Employee: </p>
                <h3>@Model.FullName</h3>
                <input name = "Id" type="hidden" value="@Model.Id"/>
                <input name = "ApplicationUserId" type="hidden" value="@Model.ApplicationUserId"/>
                <input name = "FullName" type="hidden" value="@Model.FullName"/>
                
            </div>
            <div class="mb-3">
                <p>Old position:</p>
                <h4>@Model.OldPositionName</h4>
                <input name="OldPositionName" type="hidden" value="@Model.OldPositionName" />
            </div>
            <div class="mb-3">
                <label asp-for="PositionId" class="form-label">Select position:</label>
                <select asp-for="PositionId" class="form-control">
                    @foreach (var position in Model.Positions)
                    {
                        <option value="@position.Id">@position.Name</option>
                    }
                </select>
                <span asp-validation-for="PositionId" class="text-danger"></span>
            </div>
            <div>
                <button asp-area="Admin" asp-action="Add" asp-controller="Position" type="submit" class="w-100 btn btn-sm mb-4 btn-secondary">Add new position</button>
            </div>
            <div class="mb-3">
                <label asp-for="Role" class="form-label">Select access level:</label>
                <select asp-for="Role" class="form-control">
                    @foreach (var role in Model.Roles)
                    {
                        <option value="@role">@role</option>
                    }
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary mt-2">Set</button>
            </div>

        </form>
    </section>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}