@using PrintingHouse.Infrastructure.Data.Entities.Enums;
@model IEnumerable<OrderViewModel>
@{
    string returnUrl = ViewContext.HttpContext.Request.Path;
}

<div class="row">
    <div class="table-responsive col-sm-12">
        <h1>All Orders</h1>
        <table style="font-size:small" id="orders-table" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
            <thead style="font-size:x-small" class="table-dark">
                <tr>
                    <th class="sorter_th" scope="col">No.</th>
                    <th class="sorter_th" scope="col">Created on</th>
                    <th class="sorter_th" scope="col">Status</th>
                    <th class="sorter_th" scope="col">Article No.</th>
                    <th class="sorter_th" scope="col">Article</th>
                    <th class="sorter_th" scope="col">Material</th>
                    <th class="sorter_th" scope="col">Width (m)</th>
                    <th class="sorter_th" scope="col">Client</th>
                    <th class="sorter_th" scope="col">Quantity</th>
                    <th class="sorter_th" scope="col">Embedded material (count)</th>
                    <th class="sorter_th" scope="col">Printed material (pieces or m)</th>
                    <th class="sorter_th" scope="col">Scrapped (%)</th>
                    <th class="sorter_th" scope="col">Deadline</th>
                    <th class="sorter_th" scope="col">Expected print date</th>
                    <th class="sorter_th" scope="col">Expected time needed</th>
                    <th class="sorter_th" scope="col">Color model</th>
                    <th class="sorter_th" scope="col">Comment</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Number</td>
                        <td>@order.OrderTime</td>
                        <td class="order-status">@order.Status</td>
                        <td>@order.ArticleNo</td>
                        <td>@order.ArticleName</td>
                        <td>@order.Material</td>
                        <td>@order.Width</td>
                        <td>@order.ClientName</td>
                        <td>@order.Quantity</td>
                        <td>@order.EmbeddedMaterialCount</td>
                        <td>@order.MaterialQuantity</td>
                        <td>@order.ScrappedMaterial %</td>
                        <td>@order.EndDate?.ToString("d")</td>
                        <td>@order.ExpectedPrintDate.ToString("d")</td>
                        <td>@order.ExpectedPrintTime</td>
                        <td>@order.ColorModel</td>
                        <td>@Html.Raw(order.Comment)</td>
                        <td>
                            @if (User.IsInRole(AdminRoleName) || User.IsInRole(MerchantRoleName))
                            {
                                <div class="d-flex flex-column">
                                    <form asp-controller="Order" asp-action="ChangeStatus" method="post">
                                        <input name="id" type="hidden" value="@order.Id" />
                                        <input name="status" type="hidden" value="@OrderStatus.Canceled">
                                        <input name="returnUrl" type="hidden" , value="@returnUrl">
                                        <button class="btn btn-sm btn-danger m-1" title="Cancel order" type="submit"><i class="fa-solid fa-ban"></i></button>
                                    </form>
                                    @if (order.Status == OrderStatus.NoConsumable)
                                    {
                                        <form asp-controller="Order" asp-action="ChangeStatus" method="post">
                                            <input name="id" type="hidden" value="@order.Id" />
                                            <input name="returnUrl" type="hidden" , value="@returnUrl">
                                            <input name="status" type="hidden" value="@OrderStatus.Waiting">
                                            <button class="btn btn-sm btn-warning m-1" title="Take consumables" type="submit"><i class="fas fa-truck-loading"></i></button>
                                        </form>
                                    }
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

@section Scripts{
    <script>
        var allTableCells = document.getElementsByClassName("order-status");

        for (var i = 0, max = allTableCells.length; i < max; i++) {
            var node = allTableCells[i];
            var currentText = node.childNodes[0].nodeValue;

            if (currentText === "Canceled") {
                node.style.color = "red";
                node.style.fontWeight = "bold";
            }
            else if (currentText === "Printing") {
                node.style.color = "blue";
                node.style.fontWeight = "bold";
            }
            else if (currentText === "Completed") {
                node.style.color = "green";
                node.style.fontWeight = "bold";
            }
            else if (currentText === "Waiting") {
                node.style.color = "orange";
                node.style.fontWeight = "bold";
            }
            else {
                node.style.color = "grey";
                node.style.fontWeight = "bold";
                node.style.fontSize = "12px";
            }
        }

    </script>

    <script>table_sort();</script>
}